* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 2rem;
}

/* main */

#main {
  background: url('/img/9d1dbd8a282cd77df49037092b806205\ 1.png') no-repeat center center/cover;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.nav {
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav ul {
  display: flex;
  background: rgba(0, 255, 149, 0.267);
}

.nav ul li {
  padding: 1rem 3.5rem;
}

.nav ul li a {
  color: #333;
}

.nav ul li .nav-a {
  color: rgb(0, 0, 255);
  transition: 1s;
}

.nav ul li .nav-b {
  color: #fff;
  transition: 1s;
}

.nav ul li .nav-a:hover {
  color: #fff;
}

.nav ul li .nav-b:hover {
  color: rgb(0, 0, 255);
}


.showcase .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 3rem;
  color: rgb(0, 0, 255);
}

.showcase .content h1 {
  font-size: 6rem;
  cursor: pointer;
}

.showcase .content h2 {
  margin-top: 2rem;
  color: rgba(0, 0, 255, 0.5);
  transition: 1s;
  cursor: pointer;
}

.showcase .content p {
  color: rgba(0, 0, 255, 0.5);
  transition: 1s;
  cursor: pointer;
}

.content h2:hover {
  color: rgb(0, 0, 255);
}

.content p:hover {
  color: rgb(0, 0, 255);
}

.read {
  font-size: 2rem;
  margin-top: 1rem;
  color: rgba(0, 0, 255, 0.425);
  transition: 2s;
}

.read:hover {
  color: rgb(192, 238, 247);
}

.corona {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  bottom: -200px;
}

.corona img {
  animation: corona 5s linear infinite;
}

@keyframes corona {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  100% {
    transform: translateY(-110vh);
    opacity: 0;
  }
}


.corona img:nth-child(1) {
  width: 250px;
  animation-delay: 4s;
}

.corona img:nth-child(2) {
  width: 250px;
  animation-delay: 5s;
}

.corona img:nth-child(3) {
  width: 250px;
  animation-delay: 4.5s;
}

.corona img:nth-child(4) {
  width: 250px;
  animation-delay: 6s;
}

.corona img:nth-child(5) {
  width: 250px
  animation-delay: 5.5s;;
}
